html,body {
	margin: 0;
	height: 100%;
	background-color: $background;
	color: $primary;
}
textarea:focus, input:focus, button:focus {
    outline: 2px solid $lighten;
}
body{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif;
	margin: 0;
	padding: 0;
	user-select: none;
	color: $primary;
}
body,
#root,
.page {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
	margin: 0;
	padding: 0;
	height: 100%;
}
.toggle-theme {
	display: block;
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
	background: none;
	border: none;
	color: $primary;
	padding: 0.3em;
	cursor: pointer;
	font-weight: bold;
}

svg {
	width: 100%;
	height: auto;
}


.tabs {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 1rem;
}

.tabs li {
	padding: 0.3rem 0.3rem 0.3rem 0.5rem;
	margin-left: 0.2rem;
	margin-top: 0.5rem;
	border-radius: 0.25rem 0.25rem 0 0;
}

.tabs li.selected {
	background-color: $backdrop;
	box-shadow: 1px 1px 2px 2px $darken;
}
.tabs li.changed .filename {
	color: $secondary;
}
.tabs li.changed .filename::after {
	content: '*';
}

.tabs li:not(.selected):hover {
	background-color: $darken;
}

.tabs li .close {
	cursor: pointer;
	padding: 0;
	margin-left: 1rem;
	margin-right: 0;
	width: 1.2rem;
	height: 1.2rem;
	background: none;
	border: none;
	color: $primary;
	rotate: 45deg;
	border-radius: 0.5rem;
}

.tabs li .open {
	cursor: pointer;
	padding: 0;
	background: none;
	border: none;
	color: $primary;
}

.tabs li .close:hover {
	background: $darken;
}

.tabContent {
	display: none;
}

.tabContent.selected {
	display: flex !important;
	overflow: hidden;
	flex-grow: 2;
	max-height: 100%;
}

.empty {
	display: flex;
	overflow: hidden;
	max-height: 100%;
	flex-basis: 100%;
	background-color: $backdrop;
	align-items: center;
	justify-content: center;
}

.empty span {
	color: $lighten;
}

.explorer {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
	max-height: 100%;
	overflow: hidden;
}

.main {
	display: flex;
	flex-direction: row;
	flex-grow: 2;
	overflow: hidden;
	background-color: $backdrop;
	box-shadow: 1px 1px 1px $background;
}

.gutter {
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	height: 100%;
	width: 0.5rem;
	background-color: $background;
	transition-property: width;
	transition-duration: 0.5s;
	transition-delay: 0;
	align-items: center;
	text-align: center;
}
.gutter::before {
	content: "⠿";
	font-size: 0.7rem;
	color: $lighten;
	transition-property: font-size;
	transition-duration: 0.5s;
	transition-delay: 0;
	width: 100%;
    display: block;
    text-align: center;
}
.gutter:hover {
	background-color: $lighten;
	width: 1rem;
	cursor: col-resize;
	animation: normal;
	transition-property: width;
	transition-duration: 0.5s;
	transition-delay: 0;
}
.gutter:hover::before {
	font-size: 1.4rem;
	transition-property: font-size;
	transition-duration: 0.5s;
	transition-delay: 0;
}
.gutter.collapsed::before {
	font-size: 1.4rem;
}
.gutter.collapsed {
	width: 1rem;
	animation: normal;
	transition-property: width;
	transition-duration: 0.5s;
	transition-delay: 0;
}
.gutter.collapsed:hover {
	width: 2rem;
}
.gutter.collapsed:hover::before {
	font-size: 2.8rem;
}
.viewer {
	display: flex;
	flex-grow: 1;
	overflow: auto;
}
.error .viewer,
.error .outline {
	filter: blur(10px);
	opacity: 0.5;
}

.editor {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: auto;
	height: 100%;
	min-width: 20rem;
	max-width: 20rem;
}
.editor > div {
	display: flex;
	flex-grow: 1;
	background-color: --vscode-background !important;
}

.outline {
	background-color: $background-light;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	min-width: 20rem;
	max-width: 20rem;
	overflow: auto;
}
.outline > .tools {
	display: flex;
	flex-grow: 0;
	padding: 0.4rem;
	opacity: 0;
	background-color: $darken;
	transition-property: opacity;
	transition-duration: 500ms;
}
.outline > .tools:has(*[data-has-disconnected-nodes="true"]) {
	opacity: 0.5;
}
.outline:hover > .tools {
	opacity: 1;
}
.outline > .tools span > span {
	margin-left: 0.2rem;
}

.outline li {
	position: relative;
}
.outline ul {
	padding-left: 1rem;
	list-style: none;
	white-space: nowrap;
}
.outline > ul {
	margin: 1rem;
	flex-grow: 1;
}
.outline .toggle {
	cursor: pointer;
	font-weight: bold;
	display: block;
	color: $terciary;
	position: absolute;
	left: - 1rem;
	padding: 0 0.2rem;
	transition: transform;
	transition-duration: 250ms;
}
.outline .collapsed .toggle {
	transform: rotate(-90deg);
}
.outline .collapsed > ul {
	height: 0px !important;
	overflow: hidden;
}

.outline .glyph {
	display: inline-block;
	margin: 0 0.3rem;
	width: 1rem;
}
.outline .subgraph > span > .label {
	color: $primary;
	cursor: pointer;
}
.outline .subgraph > span > .label:hover {
	color: $accent;
}

.outline .node-representation {
	max-width: 2rem;
	overflow: hidden;
	text-overflow: ellipsis;
}
.outline .node-representation.multi-word {
	color: $secondary;
}
.outline .node-representation.single-word {
	color: $primary;
}
.outline .node-representation.node-hidden {
	opacity: 0.5;
}

.outline .glyph {
	color: $terciary;
}

.outline .edge .label .brackets::before {
	content: "{";
	color: $primary;
	display: inline-block;
	margin-right: 0.25rem;
	opacity: 0.5;
}
.outline .edge .label .brackets::after {
	content: "}";
	color: $primary;
	display: inline-block;
	margin-right: 0.25rem;
	opacity: 0.5;
}
.outline .edge .label .edge-node {
	color: $secondary;
	margin-right: 0.25rem;
}
.outline .edge .label .edge-side:not(:last-child)::after {
	content: "⇾";
	display: inline-block;
	margin-right: .25rem;
	font-weight: lighter;
	color: $terciary;
}
.outline .edge .label .brackets .edge-node:not(:last-child)::after {
	content: ",";
	margin-right: 0.25rem;
	display: inline-block;
	color: $primary;
	opacity: 0.5;
}


.render {
	width: 100%;
	height: 100%;
	overflow: auto !important;
}
.viewer {
	position: relative;
}
.viewer > .save {
	display: block;
	white-space: nowrap;
	position: absolute;
	right: 1.2rem;
	bottom: 1.2rem;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 500ms;
	cursor: pointer;
	z-index: 10;
	font-size: small;
	background-color: $lighten;
	padding: 0.25rem;
	border-radius: 0.25rem;
	box-shadow: 1px 3px 3px $backdrop;
}
.viewer > .save:hover {
	background-color: $background;
}
.viewer:hover > .save {
	opacity: 1;
}

.status {
	padding: 0.3rem;
	box-shadow: 1px 1px 1px $background;
}

.modifier .flow {
	color: $primary;
}

.modifier .entities {
	opacity: 0.2;
}

.modifier .entities input {
	visibility: hidden;
}

.flow {
	color: $accent;
}

.entities {
	color: $secondary;
}

.modifier,
.modifier input {
	cursor: pointer;
}

.subgraph.disabled .label,
.node.disabled .label {
	opacity: 0.3;
}

.path:hover {
	text-decoration: underline;
	cursor: pointer;
}

.render:not(.png) {
	@import "svg.scss";
}
.modifier svg:has(.selected) .edge.highlight:not(.selected) {
	opacity: 1 !important;
}
.modifier svg:has(.selected) .edge:not(.selected) {
	opacity: 0.2 !important;
}
