$backdrop: #222;
$primary: #eee;
$background: #333;
$secondary: #fec;
$secondary-foreground: #fec9;
$terciary: #c8ffe6;
$terciary-foreground: #c8ffe690;
$accent: #0ff;
$darken: rgba(0, 0, 0, 0.1);
$lighten: rgba(255, 255, 255, 0.1);


.light-theme-only {
	display: none;
}

@import "base.scss";
