$backdrop: #fff;
$primary: #345;
$background: #eee;
$secondary: #377;
$secondary-foreground: #5999;
$terciary: #337;
$terciary-foreground: #3379;
$accent: #939;
$darken: rgba(200, 200, 255, 0.1);
$lighten: rgba(0, 30, 50, 0.12);


@media (prefers-color-scheme: light) {
	.dark-theme-only {
		display: none;
	}
	.light-theme-only {
		display: block !important;
		color: $primary;
	}

	@import "base.scss"
}
