$backdrop: #ffffff;
$primary: #789;
$background: #eee;
$secondary: #7aa;
$secondary-foreground: #7aa;
$terciary: #77a;
$terciary-foreground: #77a;
$accent: #939;
$darken: #333;
$lighten: rgba(127,127,127, 0.1);


.png {
	&.render {
		position: fixed;
		left: 100%;

		svg{
			width: auto !important;
			height: auto !important;
			position: relative;
		}
	}

	@import "svg.scss";

	* {
		font-weight: normal !important;
	}

	svg .node>ellipse {
		stroke: $primary;
	}

	svg .edge>path,
	svg .edge>polygon {
		stroke: $secondary-foreground;
	}

	svg .cluster>polygon {
		stroke: $terciary;
	}
}
