svg text {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif !important;
}

svg .cluster:hover,
svg .cluster.selected {
	cursor: pointer !important;
	fill: $secondary;
}

svg .cluster:hover polygon,
svg .cluster.selected polygon {
	stroke: $secondary;
}

#graph0>polygon {
	fill: none;
}

svg .node {
	fill: $terciary;
}

svg .node>ellipse {
	fill: $lighten;
	stroke: none;
}

svg .node:hover {
	cursor: pointer;
	fill: $secondary-foreground;
}

svg .node:hover>ellipse {
	stroke: $secondary-foreground;
}

svg .node.selected {
	fill: $secondary;
}

svg .node.selected>ellipse {
	stroke: $secondary;
}

svg .node.selected:hover {
	fill: $secondary;
}

svg .node.selected:hover>ellipse {
	stroke: $secondary;
}

svg .node.highlight {
	fill: $secondary;
}

svg .node.highlight>ellipse {
	stroke: $secondary;
}

svg .node.highlight:hover {
	fill: $secondary;
}

svg .node.highlight:hover>ellipse {
	stroke: $secondary;
}

svg .edge>path,
svg .edge>polygon {
	stroke: $lighten;
}

svg .edge>polygon {
	fill: $lighten;
}

svg .edge.selected>path,
svg .edge.selected>polygon {
	stroke: $terciary-foreground;
}

svg .edge.selected>polygon {
	fill: $terciary-foreground;
}

svg .edge.selected>text {
	fill: $secondary-foreground;
}

svg .edge>text {
	fill: $lighten;
}


svg .cluster {
	fill: $primary;
}

svg .cluster>polygon {
	fill: $lighten;
	stroke: none;
}

svg:has(.selected) .cluster:not(.selected),
svg:has(.selected) .node:not(.selected):not(.highlight) {
	opacity: 0.4;
}

svg:has(.selected) .edge:not(.selected) {
	opacity: 0;
}
svg .node>ellipse {
	stroke: $lighten;
	filter: drop-shadow(1px 1px 1px $darken);
}
svg .cluster>polygon {
	stroke: $lighten;
	filter: drop-shadow(1px 1px 1px $darken);
}
